@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="pagetitle">
    <h1>Yönetim Paneli</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a >Ana Sayfa</a></li>
            <li class="breadcrumb-item active">Yönetim Paneli</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                



                <section class="section profile">
                    <div class="row">
                        <div class="col-xl-4">

                            <div class="card">
                                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                                    <img src="~/images/Berkan.jpg" alt="Profile" class="rounded-circle">
                                    <h2>Berkan Yılmaz</h2>
                                    <h3>Kursiyer</h3>
                                    <div class="social-links mt-2">
                                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-xl-8">

                            <div class="card">
                                <div class="card-body pt-3">
                                    <!-- Bordered Tabs -->

                                    <div class="tab-content pt-2">

                                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                            <h5 class="card-title">Hakkında</h5>
                                            <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

                                            <h5 class="card-title">Profil Detayı</h5>
                                            </h5>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Adı Soyadı</div>
                                                <div class="col-lg-9 col-md-8">Berkan Yılmaz</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Şirket</div>
                                                <div class="col-lg-9 col-md-8">Tureb</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Unvan</div>
                                                <div class="col-lg-9 col-md-8">Kursiyer</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Ülke</div>
                                                <div class="col-lg-9 col-md-8">Türkiye</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Adres</div>
                                                <div class="col-lg-9 col-md-8">Çankaya / Ankara</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Telefon</div>
                                                <div class="col-lg-9 col-md-8">+90 (555) 555 55 55</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Email</div>
                                                <div class="col-lg-9 col-md-8">berkanyilmaz@tureb.com</div>
                                            </div>

                                        </div>



                                    </div><!-- End Bordered Tabs -->

                                </div>
                            </div>

                        </div>
                    </div>
                </section>


                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Sales <span>| Today</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Revenue <span>| This Month</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>$3,264</h6>
                                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Customers <span>| This Year</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>1244</h6>
                                    <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->


            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">
            <!-- News & Updates Traffic -->
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title">Haberler ve Duyurular</h5>

                    <div class="news">
                        <div class="post-item clearfix">
                            <img src="~/images/eylemPlani.jpg" alt="">
                            <h4><a href="#">Rüzgâr Enerjisi Eylem Planı</a></h4>
                            <p>Avrupa Birliği Komisyonu, Rüzgâr Enerjisi Eylem Planı’nı 24 Ekim 2023 tarihinde açıkladı....</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/images/rüzgarihaleleri.png" alt="">
                            <h4><a href="#">Deniz Üstü Rüzgar Enerjisi İhaleleri</a></h4>
                            <p>“Türkiye Rüzgar Enerjisi Birliği (TÜREB) ve SHURA Enerji Dönüşümü Merkezi iş birliğiyle...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/images/faaliyetRaporu.png" alt="">
                            <h4><a href="#">2023 Faaliyet Raporu</a></h4>
                            <p>2023 yılında TÜREB olarak gerçekleştirdiğimiz faaliyetlerle sektörümüzdeki değişimi...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/images/rüzgarEnerjisiRaporu.jpg" alt="">
                            <h4><a href="#">Türkiye Rüzgar Enerjisi İstatistik Raporu</a></h4>
                            <p>2023 yılına ait verileri içeren Türkiye Rüzgar Enerjisi İstatistik Raporu yayınladı....</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="~/images/türebDergi.png" alt="">
                            <h4><a href="#">TÜREB Dergi 24. Sayı</a></h4>
                            <p>TÜREB Dergi yayında! Keyifli okumalar dileriz....</p>
                        </div>

                    </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

    </div>
</section>


@section Scripts{

}