@model TrainerCourseCreateVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form>
    <input asp-for="Name" type="" value="Deniz Üzerinde Platform Kurma İlkeleri" />
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>