@model TrainerCourseUpdateVM

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Kursu Düzenle</h5>

        <!-- Floating Labels Form -->
        <form class="row g-3">
            <div class="col-md-12">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                    <label for="floatingName">Kurs Adı</label>
                </div>
            </div>
            
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" id="floatingTextarea" style="height: 100px;"></textarea>
                    <label for="floatingTextarea">Kurs Açıklaması</label>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">Bölümler</h5>
                        <a class="btn btn-primary h-50" onclick="showSection()">Bölüm Ekle <span><i class="bi bi-plus-lg"></i></span></a>
                    </div>


                    <div class="row" id="sectionSubmit" hidden >
                        <form>
                            <div class="d-flex gap-3 align-items-center">
                                <div class="col-md-6 ">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="SectionName" placeholder="Your Name">
                                        <label class="fs-9" for="floatingName">Bölüm Adı</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-success" onclick="submitSection('@Model.Id')" ><i class="bi bi-plus-lg"></i></a>
                                </div>
                            </div>
                            
                        </form>
                    </div>



                    <!-- Accordion without outline borders -->
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Giriş
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Ders 1</div>
                            </div>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Ders 2</div>
                            </div>
                        </div>
                    </div><!-- End Accordion without outline borders -->

                </div>
            </div>


            <div class="text-center">
                <button type="reset" class="btn btn-secondary">Listeye Dön</button>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form><!-- End floating Labels Form -->

    </div>
</div>
@section Scripts{
    <script src="~/js/add-section.js"></script>
}