@model TrainerVideoDetailsVM
@{
    ViewData["Title"] = @Model.Name;
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <span class="card-title fs-5 text-danger-emphasis">Videonun Kursu : </span>
            </div>
            <div class="col-2">
                <span>@Model.CourseName</span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="card-title fs-5 text-danger-emphasis">Videonun Bölümü : </span>
            </div>
            <div class="col-2">
                <span>@Model.SectionName</span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="card-title fs-5 text-danger-emphasis">Video Adı : </span>
            </div>
            <div class="col-2">
                <span>@Model.Name</span>
            </div>
        </div>
        <video width="640" height="360" controls>
            <source src="~/videos/@Model.VideoUri" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>