@model StudentCourseDetailVM

@{
    ViewBag.Title = "Details Pages";
}

@* <div class="card mt-5">
    <div class="card-body">
        <div id="top-side" class="p-5">
            <div class="course">Kurs : <span class="course-name">@Model.Name</span></div>
            <div class="section-title">Bölüm : <span class="section-name">@Model.Sections.</span></div>
        </div>
        <div class="video-content">
            <video class="course-video" controls>
                <source src="~/videos/@Model.VideoUri" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="video-bottom">
                <div>
                    <span class="video-name">@Model.Name</span>
                </div>
                <div>
                    <span class="created-date-text">Eklenme Tarihi : </span>
                    <span class="created-date">@Model.CreatedDate.ToShortDateString()</span>
                </div>
            </div>
        </div>
    </div>
</div> *@