@model List<StudentCourseListVM>

@{
    ViewData["model"] = Model;
}

<head>
    <link href="~/css/studentcourselistvm.css" rel="stylesheet" />
</head>

<body>
    @foreach (var course in Model)
    {
        <div class="card">
            <img src="~/assets/img/card.jpg" class="card-img-top" alt="Kurs">
            <div class="card-body">
                <h5 class="card-title">@course.Name</h5>
                <p class="card-text">@course.Description</p>
            </div>
        </div>
    }
</body>





